#primeiraNoticia {
  border: 5px solid;
}
#titulo,
h5,
h3 {
  text-align: center;
  text-decoration: underline;
}

#body {
  border: 10px;
  border-radius: 5px;
}

#bordas {
  border: 5px solid;
}

#tituloPage {
  border: 5px solid;
  max-width: 400px;
  text-align: center;
  text-shadow: red -3px 0, cyan 2px 0;
}
#tt {
  text-decoration: underline;
  text-align: center;
  text-shadow: red -2px 0, cyan 2px 0;
}

#contato {
  border: 10px dashed;
  text-align: center;
  justify-content: center;
}
#form {
  border-style: ridge;
  border-radius: 10px;
}
h3 {
  text-shadow: red -2px 0, cyan 2px 0;
  background-color: #cccccc;
}
h2 {
  background-color: #cccccc;
}
button {
  width: 15%;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
}
.btn {
  transition: transform 1s ease-in;
}
.btn:hover {
  transform: scale(1.1);
}
#titulo {
  text-shadow: red -3px 0, cyan 2px 0;
  background-color: #cccccc;
  border-radius: 10rem;
}
#teste {
  writing-mode: horizontal-tb;
  background-color: #e62b86;
  border-radius: 10px;
}
